<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <style>
            #main {
                background: lightgray;
                text-align: center;
                margin: 50px;
                padding: 20px;
                border-radius: 20px
            }
        </style>

        <title>Simple login with Flask</title>
    </head>
    <body>
        <div id="main">
            <h1>Flask Authentication!</h1>
            <p>This is a test server for logging in users using Flask</p>
            <button type="button" class="btn btn-light">Sign up</button>
            <button type="button" class="btn btn-light">Sign in</button>
        </div>
    </body>
</html>