<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <style>
            .btn-primary {
                margin-top: 20px
            }
        </style>
    </head>
    <body>
        <div class="jumbotron">
            {% block body %}{% endblock %}

            <a class="btn btn-primary" href="{{ url_for('index') }}">Go back</a>
        </div>
    </body>
</html>